.heading {
    margin: 0;
    padding: 0px;
    background-color: lightgrey;
    color: black;
    text-align: center;
  }
  
  .heading > h1 {
    padding: 20px;
    margin: 0;
  }

.right_card {
    margin-left: auto;
    margin-right: 30px;
    margin-top: -20px;
}

.left_card {
  margin-right: auto;
  margin-left: 30px;
  margin-top: -20px;
}